.con{
    margin-top: 130px!important;

}
.he {
    position: relative;
    display: flex;
    justify-content: center;
  }

  .he::after {
    content: '';
    position: absolute;
    bottom: -8px; 
    left: 50%;
    transform: translateX(-50%);
    width: 7%;
    border-bottom: 5px solid;
    border-image: linear-gradient(to right, rgb(0, 0, 0), rgb(0, 0, 0), rgb(255, 234, 0));
    border-image-slice: 1;
  }
  .he1 {
    
    text-decoration: underline;
  }
  
  .card2 {
    animation: fadeInUp 2s ease forwards;
}

@keyframes fadeInUp {
    from {
        opacity: 0;
        transform: translateY(20px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}
